<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.abc.MyListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>GetMyDB</display-name>
    <servlet-name>GetMyDB</servlet-name>
    <servlet-class>com.abc.GetMyDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyDB</servlet-name>
    <url-pattern>/GetMyDB</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.abc.SessionListen</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>VistorCount</display-name>
    <servlet-name>VistorCount</servlet-name>
    <servlet-class>com.abc.VistorCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VistorCount</servlet-name>
    <url-pattern>/VistorCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.abc.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
</web-app>